// @use 'access' as access;
// @use 'comments' as comments;
// @use 'contact-us' as contact_us;
// @use 'footer' as footer;
// @use 'header' as header;
// @use 'news' as news;
// @use 'price' as price;
// @use 'Q&A' as q_and_a;
// @use 'results' as results;
// @use 'service' as service;
// @use 'top' as top;

$layout-width-inner: 1200px;

$main-color: #3E3E3E;
$font-color: #3E3E3E;





